 * { 
  background-color: rgb(170, 170, 170);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .pops {
  display: flex;
 }

 .sidebar {
  width: 200px;
 }

 .sidebar a {
  display: block;
  padding: 12px;
  color: black;
  background-color: darkgrey;
  text-decoration: none;
  border: 1px solid black;
  border-bottom: none;
 }

 .sidebar a:hover {
  background-color: rgb(185, 72, 72);
 }
 
 img {
  width: 320px;
  height: 226px;
 }

 #main-doc {
  margin-left: 20px;
  margin-top: -25px;
 }

 h1 {
  text-align: center;
  background-color: rgb(170, 170, 170);
  
 }

 .navgrid {
  box-sizing: border-box;
  float: left;
  width: auto;
  padding: 5px;
  margin: 5px;
  text-align: center;
  align-items: center;
  border: 2px solid black;
 }

 .moms {
  display: flex;
  justify-content: center;
  text-align: center;
 }

 .navgrid > p {
  font-weight: bold;
 }


 